.admin-container {
    display: flex;
    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
            }
    }
    .admin-main {
        width: 100%;
        padding: 0px 15px;
    }
}
.yellow {
    color: black;
}
